body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url(../assets/wood-top.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

a{
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
  min-height: 30vh;
  object-fit: contain;
}

h1 {
  color: white;
}

h2 {
  color: black;
  margin: 0;
  padding: 0;
}

.container{
  width: 100%;
  height: 55vh;
  display: flex;
  justify-content: center;

}
.book2 {
  width: 80vh;
  background-color: blue;
  background-color: #EEE1C6;
  height: max-content;
  border: 7px solid;
  border-color: black;

}

.page{
  background-color: white;
  padding: 5px 15px;
}


.book-container {
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

button {
  background-color: transparent;
  border-color: transparent;
  font-size: 2em;
  margin-top: 1em;

}


button:active{
  background-color: beige;
  border: 1px ;
}





.nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

@media screen and (max-width: 700px) {
  
  
}
