body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url(../assets/wood-top.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

a {
  text-decoration: none;
}

/* kleur en positie van de H2*/

h2 {
  color: black;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.book2 {
  /*  kleur, rand en kleuren van de basis van het boek*/
  width: 80vh;
  background-color: #eee1c6;
  height: max-content;
  border: 7px solid;
  border-color: black;
}

/* kleur van de linker en rechter page, deze zijn natuurlijk wit*/
.page {
  background-color: white;
  padding: 5px 15px;
}

/* dit zorgt ervoor dat het plaatje op onze pagina past, de radius zorgt ervoor dat het iets curved*/
.page img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  border-radius: 5px;
}

.book-container {
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* kleur en formaat van onze buttons*/
button {
  background-color: transparent;
  border-color: transparent;
  font-size: 2em;
  margin-top: 1em;
}

/* zorgt ervoor dat de knoppen uit elkaar staan*/

.nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

@media screen and (max-width: 700px) {
}

/* lettertype van onze H2*/
h2 {
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

/* Formaat, letterrtpe en kleur van onze knoppen*/

h3 {
  display: flex;
  font-size: 30px;
  justify-content: space-between;
  align-items: center;
  margin-left: 3em;
  font-family: Verdana, sans-serif;
  color: black;
}

