* {box-sizing: border-box;
  margin: 0;
  padding: 0;
  
  
  }


html {
  height: 100vh;
  background-image: url(../assets/background.jpg);
  background-size: cover;
  background-position: bottom;
  overflow: hidden;

}

/* Dit is het midden van het boek, door middel van het rode vlak dat ik nu gebruik weet ik waar ik de visiftekaartjes moet plaatsen*/
body {
  width: 1000px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: red;
  margin-top: 2em;
}

article {
  text-align: center;
  /* margin-top: 50px; */
  display: flex;
  flex-direction: column ;
  /* justify-content: center; */
  align-items: center;
}

/* De IMG zorgt ervoor dat de foto van het boek precies in het midden zit. Ook zorgt deze code ervoor dat er niet meer gescrolled kan worden*/
img {
  height: 100vh;
  width: 100%;
  background-position: center; 
  background-size: cover;   
}
.button-wrapper{

width: 62%;
margin-right: 2em;
bottom: 10%;

}
/* Dit zijn de afmetingen, kleuren en vorm van de knoppen*/
.knop {
  padding: 0 20px;
  font-size: 3rem;
  text-align: center;
  font-family: Impact;
  color: black;
  border: none;
  background-color: rgba(255, 255, 255, 0);

}

/* Op het gebied van visuele hierarchie valt deze knop erg op. Want als de gebruiker er overheen hoverd wordt deze knop bruin en dat valt op.*/

.knop:hover {
  background-color: brown;
}

.knop:active {
  box-shadow:
    inset -2px -2px 3px white,
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}


.visitekaartje {
display: flex;
justify-content: space-between;
height: 100%;
width: 100%;
right: -20em;
bottom: 10em;
position: absolute;
top: 20%;


}

.kaart{
  width: 400rem;
  height: 350rem;
  margin-left: -41rem;
  margin-top: -15rem;
}

.footer {
  width: 900px;
  position: absolute;
  margin-left: 5em;

  bottom: 10%;
}

.right {
  position: absolute;
  right: 80px;



}